<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
    window.currentTeams = <%= render(
      'api/teams/teams.json.jbuilder',
      teams: current_user.teams
    ).html_safe %>
    window.static_images = {

    }
  </script>
<% end %>

<script type="text/javascript">
  window.static_images = {
    sign_up_placeholder: "<%= image_url("missing8.jpg") %>",
    favicon: "<%= image_url("icon.jpg") %>",
    portfolio: "<%= image_url("favicon-b.png") %>"
  }
</script>

<main id="root"></main>
